.container {
  min-height: 100vh;
}

.main {
  min-width: 250px;
  max-width: 750px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.btn {
  background: #c9e1fd;
  padding: 8px 12px;
  border-radius: 4px;
  color: #3b3b3b;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid rgb(205, 203, 203);
}

.btn:hover {
  color: #2e2e2e;
  background-color: #b5d8ff;
}

.detailContainer {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 130px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(218, 220, 224);
  border-right: 1px solid rgb(218, 220, 224);
  border-radius: 0px;
}

.fullWidthElement {
  width: 100%;
  height: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(103, 58, 183);
}

.fullWidthElementLeft {
  width: 100%;
  margin-right: 5px;
  background-color: blue; /* Adjust the color as needed */
  height: 100%;
  width: 7px;
}

.formInfo {
  padding: 12px;
  font-size: 25px;
  letter-spacing: 0.3px;
}

.formInputStyle {
  border: none;
  letter-spacing: 0.7px;
}

.textareaStyle {
  border: none;
  letter-spacing: 0.7px;
  font-size: 15px;
}

.mainFormContainer label {
  margin: 0;
}

.labelGroup {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 10px;
  background-color: #ffffff;
}

input[type="text"] {
  font-size: 19px;
  color: #2e2e2e;
}

@media (max-width: 900px) {
  .main {
    margin-left: 1%;
  }
}
