/* src/Header.module.css */

.header {
  background-color: #393c86;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  display: inline;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.navItem:hover {
  text-decoration: underline;
}
