/* src/Header.module.css */

.header {
  background-color: #f2f2f2;;
  color: #393c86;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgb(205, 203, 203);
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  display: inline;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.navItem:hover {
  text-decoration: underline;
}
